body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.coupon {
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: white;
  padding: 14px;
  font-size: 18px;
}

/* search-start */
.search-data {
  width: 500px;
  margin: 20px auto;
  position: relative;
}

.search-products{
    position: absolute;
    border: 1px solid red;
    width: 500px;
    padding: 10px;
    background: #ffffff;
    border-radius: 0px;
    border: 1px solid #bbbbbb;
    z-index: 9;
}

.search-products p{
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: #333333;
}

.search-data form {
  display: flex;
}

.form-control:focus{
  border-color: #fff;
  box-shadow: none;
}

.search-data .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding: 0;
}

.your-choice{
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 4px;
}

.outfit{
  display: flex;
  gap: 10px;
}

.outfit-veiw{
  max-width: 50px;
  width: 100%;
}

.outfit-veiw img{
  width: 100%;
}

.search-btn {
  border-bottom: 1px solid #dee2e6;
}

.search-btn svg {
  font-size: 22px;
}

/* search-end */

/* navbar-start */
.navbar {
  padding: 0 100px;
}
.navbar-nav {
  flex-direction: row;
  gap: 45px;
}

.right-menu {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding-bottom: 50px;
}

.right-menu svg {
  font-size: 35px;
  cursor: pointer;
}

.navbar-brand {
  padding-bottom: 50px;
}

.navbar-brand img {
  width: 180px;
}

.nav-item a {
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  text-transform: uppercase;
}

.navbar-nav .nav-link.active {
  color: #b12029;
}
/* navbar-end */

/* home-slider-start */
.slick-slide img {
  width: 100%;
  height: 500px;
}
.slick-slider {
  overflow: visible !important;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 28px;
}
/*home-slider-end  */

/* fresh-drops-start */
.fresh-drops h1 {
  font-size: 50px;
  text-transform: uppercase;
}

.main {
  position: relative;
  overflow: hidden;
  padding: 15px;
  width: 100%;
}

.main img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: all 0.4s ease;
}

.main-img {
  position: relative;
  z-index: 1;
}

.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* hidden by default */
  z-index: 2;
  object-fit: cover;
}

.main:hover .hover-img {
  opacity: 1;
}

.main:hover .main-img {
  opacity: 0;
}

.main .content {
  border: 1px solid #eaeaea;
  padding: 10px 0px 10px 10px;
}

.main .content p {
  margin-bottom: 0;
}

.more-btn {
  padding: 20px;
}
.more-btn button {
  padding: 5px 50px;
  background: none;
  border: 1px solid #eaeaea;
  font-size: 14px;
}
/* fresh-drops-ends */

/* fashion-trend-start */

.fashion-trend {
  /* display: flex; */
  gap: 10px;
}

.trend-option {
  gap: 10px;
  padding: 0 20px;
}

.trend-img {
  position: relative;
  overflow: hidden;
  padding: 15px;
  width: 100%;
}

.trend-img img,
.mini-img img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.mini-img {
  text-align: center;
}

.circle-img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  max-width: 151px;
  max-height: 151px;
  border-radius: 50%;
  margin-bottom: 6px;
}

.circle-img img {
  width: 100%;
}
/* fashion-trend-end */

/* gift-banner-start */
.gift-banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* gift-banner-start */

/* trending-css-start */
.trend-heading {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.trending-stocks {
  gap: 20px;
  margin-bottom: 30px;
}

.dress-img,
.add-dress-img {
  display: block;
  width: 100%;
  aspect-ratio: 0.75;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.dress-img img,
.add-dress-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cloth-types .contents {
  border: 1px solid #eaeaea;
  padding: 10px;
}

.cloth-types .contents p {
  margin-bottom: 0;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  color: #ffffff;
  background-color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  z-index: 9;
  padding: 4px 30px 4px 10px;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}

.whishlist {
  width: 40px;
  aspect-ratio: 1;
  position: absolute;
  top: 3%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #f4f4f4;
  box-shadow: 15.326px 15.326px 45.979px 0px #00000033;
  -webkit-box-shadow: 15.326px 15.326px 45.979px 0px #00000033;
  cursor: pointer;
  pointer-events: auto;
  touch-action: manipulation;
}

.whishlist svg {
  font-size: 25px;
}

.contents .name,
.price {
  font-family: "Josefin Sans", sans-serif;
}

.cloth-types {
  padding: 15px;
}

.middle-banner {
  padding: 0;
}

.middle-banner1 img,
.middle-banner2 img {
  width: 100%;
  height: auto;
}

/* trending-css-end */

/* social-media-start */
.socialchannel {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.socialchannel img {
  max-width: 100px;
  width: 100%;
  height: auto;
}
/* social-media-end */

/* gift-banner2-start */
.new-arrivals {
  margin: 0;
  padding: 0;
}

.new-banner img,
.sale-banner img {
  width: 100%;
  max-height: 500px;
  height: 100%;
  /* gift-banner2-end */
}

/* feature-start */
.feature-cards {
  gap: 10px;
  margin-top: 70px;
}

.feature-card-img {
  max-width: 210px;
  width: 100%;
  text-align: center;
}

.feature-card-img img {
  margin-bottom: 10px;
}

.feature-card-img .subject {
  text-transform: uppercase;
  font-size: 14px;
}
/* feature-end */

/* footer-start */
.footer-container {
  background-color: black;
}

/* wedding-start */
.wedding-title {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: normal;
}

.collection-filters {
  display: flex;
  justify-content: space-between;
}

.btn.btn-primary.dropdown-toggle {
  --bs-btn-bg: white;
  --bs-btn-color: black;
  --bs-btn-border-color: black;
  --bs-btn-hover-color: none;
  --bs-btn-hover-bg: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-color: black;
  --bs-btn-hover-border-color: black;
  --bs-btn-border-radius: none;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.dropdown-menu {
  border-radius: 0;
  margin-top: -3px !important;
  width: 200px;
}

.dropdown ul li {
  border-bottom: 1px solid #dee2e6;
}

.dropdown-toggle::after {
  margin-top: 8px;
}

.wedding-shopping {
  display: flex;
  gap: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.sellar {
  display: block;
  width: 100%;
  /* aspect-ratio: 0.75; */
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.sellar img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-list-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details,
.add-to-bag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  padding: 6px;
}
.product-details {
  background-color: #f4f4f4;
}

.product-details svg {
  font-size: 24px;
}

.add-to-bag {
  background-color: #333333;
  color: white;
  cursor: pointer;
}

.sellar .contents {
  border: 1px solid #f4f4f4;
  border-top: 0;
  padding-left: 8px;
  font-size: 14px;
}

.sellar .contents p {
  margin-bottom: 1px;
}
/* wedding-end */

/* modal-css-start */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 0.25s ease-in-out;
}

.modal-box {
  background: #fff;
  width: 700px;
  max-width: 90%;
  border-radius: 12px;
  padding: 24px 20px;
  position: relative;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  animation: scaleIn 0.25s ease-in-out;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #555;
}

.modal-close:hover {
  color: #000;
}

.modal-body {
  margin-top: 10px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

/* modal-css-end */

/* add-to-bag-popup-start */
.inner-content {
  max-width: 948px;
  max-height: 540px;
  height: 100%;
  width: 100%;
  gap: 24px;
  /* padding: 24px; */
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: start;
  margin: 0 auto;
}

.left-content {
  flex: 0 0 50%;
  max-width: 400px;
  width: 100%;
  /* aspect-ratio: 0.75; */
  overflow: hidden;
}

.left-content img {
  width: 100%;
}

.color-options {
  display: flex;
  justify-content: space-between;
}

.down-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: -12px;
}

.arrow-icon {
  transition: transform 0.3s ease;
  transform-origin: center;
}

.down-arrow.rotate-up {
  transform: rotate(180deg);
}

.color-btn {
  border: 1px solid pink;
  border-radius: 10px;
  max-width: 100px;
  width: 100%;
}
.dress-color {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
.add-dress-img {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  pointer-events: none;
}

.add-dress-img img {
  border-radius: 50%;
}

.color-name {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.color-btn {
  border: 1px solid #b12029;
  border-radius: 40px;
  max-width: 116px;
  width: 100%;
  padding: 2px 7px;

  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.25s ease;
  max-height: 0;
  opacity: 0;
}

.color-btn.open {
  max-height: 300px; /* enough for content */
  opacity: 1;
}

.color-btn.closed {
  max-height: 0;
  opacity: 0;
}

.what-size {
  display: flex;
  justify-content: space-between;
}

.size {
  background-color: #f4f4f4;
  width: 35px;
  padding: 5px;
  align-items: center;
  display: flex;
  border-radius: 50%;
  height: 35px;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.update-size {
  text-transform: uppercase;
  font-size: 12px;
}

.choose-size {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.size.active {
  background-color: #cbae92;
  color: #333333;
}

.size-choose {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.size-choose .down-arrow {
  margin-top: 0;
  background-color: #333;
  color: white;
  padding: 10px;
}

.select-size {
  position: absolute;
  float: right;
  text-align: center;
  background-color: #f4f4f4;
  width: 100px;
  height: 100px;
  overflow-y: scroll;
}

.select-size p {
  cursor: pointer;
  padding: 6px 10px;
}

.select-size p.active {
  background-color: #000;
  color: #fff;
}

.select-size p:hover {
  background-color: #000;
  color: #fff;
}

.size-choose .size {
  background-color: #f4f4f4;
  padding: 0 35px;
  border-radius: 0;
}

.cart-btn {
  background-color: #333333;
  padding: 10px;
  color: #fff;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.what-size a {
  font-size: 12px;
  text-decoration: underline !important;
  cursor: pointer;
}

.size-chart {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: antiquewhite;
  padding: 20px;
}

.size-chart .nav-item {
  width: 200px;
  display: flex;
  justify-content: center;
}

.size-chart .nav-link {
  width: 100%;
}
/* add-to-bag-popup-end */

/* product-details-css-start */
.left-img {
  max-width: 600px;
  width: 100%;
}

.left-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.left-img .slick-prev {
  left: -2px;
  z-index: 9;
}

.left-img .slick-next {
  right: 6px;
}

.product-options {
  display: flex;
  margin-top: 14px;
  gap: 15px;
}

.active-thumb {
  border: 1px solid red;
}

.img-zoom-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.img-zoom-container .main-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.zoom-lens {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 16px;
  pointer-events: none;
  background-repeat: no-repeat;
  /* background-size: 200% 200%; */
  opacity: 0;
  transition: opacity 0.2s;
}

.img-zoom-container:hover .zoom-lens {
  opacity: 1;
}

.product-options img {
  cursor: pointer;
  border: 2px solid transparent;
}

.product-options img.active-thumb {
  border: 1px solid red;
}

.product-desc {
  display: flex;
  gap: 20px;
}

.prod-cate {
  display: flex;
  justify-content: space-between;
}

.prod-cate svg {
  font-size: 25px;
}

.right-info {
  max-width: 500px;
  width: 100%;
}

.prod-color-card {
  display: flex;
  justify-content: space-between;
}

.size-options .product-details {
  background-color: white;
  border: 1px solid #000000;
  cursor: pointer;
}

.size-options .product-list-cards {
  gap: 15px;
}
/* product-details-css-start */

/* cart-css-start */
.product-cart {
  display: flex;
  gap: 30px;
}

/* Left side column */
.left-cart-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

/* Each cart item */
.left-cart {
  border: 1px solid #e5e5e5;
  padding: 15px;
}

/* Product layout */
.like-product {
  display: flex;
  gap: 15px;
}

.cart-img img {
  width: 120px;
  height: auto;
  object-fit: cover;
}

.prod-info {
  flex: 1;
}

/* Right side */
.right-cart {
  width: 40%;
}

.prod-add {
  display: flex;
  justify-content: space-between;
}

.prod-add svg {
  margin-left: 20px;
  font-size: 20px;
  stroke: #878787;
  fill: #878787;
  cursor: pointer;
}

.sizeqty {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.decrease {
  background-color: #999;
  padding: 3px 17px;
  color: white;
  cursor: pointer;
}

.active-qty{
  background-color: #000;
}

.number {
background-color: #f4f4f4;
    color: #000;
    cursor: pointer;
    width: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.increase {
  background-color: #000;
  padding: 3px 17px;
  color: #fff;
  cursor: pointer;
}

/* cart-css-end */

/* confirm-popup */
.confirm-btns {
  display: flex;
  justify-content: space-around;
}

.delete-btn {
  border: 1px solid #878787;
  background-color: #b12029;
  padding: 5px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.cancel-btn {
  border: 1px solid #74f886;
  background-color: #30be3c;
  padding: 5px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.wewedding-container .modal-box {
  width: 700px;
}

.product-count {
  position: relative;
}

.product-count .count {
  position: absolute;
  top: 0;
  left: 28px;
  background-color: red;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  font-size: 12px;
  padding-left: 4px;
  color: #fff;
}

.profile-popup{
   padding: 0;
}

.code-purchase{
  background-color: #F3F3F3;
  text-align: center;
  padding: 40px;
  margin-bottom: 30px;
}

.code{
  width: 200px;
  margin: 0 auto;
  border: 1px dashed;
  padding: 8px;
}

.login{
  width: 430px;
  margin: 0 auto;
  text-align: center;
}

.login input{
  border: none;
  background-color: #f3f3f3;
  padding: 6px 10px;
  width: 260px;
  margin-bottom: 10px;
}

.varification{
  width: 220px;
  margin: 0 auto;
  background-color: #333333;
  color: white;
  justify-content: center;
  padding: 6px 10px;
  font-size: 14px;
}

.login-with{
  display: flex;
  gap: 20px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
